<div class="page-header">
    <h2>Dashboard</h2>
    <div class="">
        <div >
            <a href="#"><img src="../../assets/img/visa_logo.gif" alt="Visa" width="50" height="33" border="0"></a>
            <a href="#"><img src="../../assets/img/mastercard_logo.gif" alt="MasterCard" width="50" height="33" border="0"></a>
            <a href="#"><img src="../../assets/img/discover_logo.gif" alt="Discover" width="50" height="33" border="0"></a>
            <a href="#"><img src="../../assets/img/american_express_logo.gif" alt="Amex" width="50" height="33" border="0"></a>
        </div>
    </div>
</div>