<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="flapperNews" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="flapperNews" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="flapperNews" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="flapperNews" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
</head>

<body ng-app="flapperNews" ng-controller="MainCtrl as vmMain">

<!-- NAVIGATION -->
<nav class="nav">
    <div class="navbar-header">
        <a class="navbar-brand" ui-href="#">Portal</a>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <a ui-sref="home">Home</a>
        </li>
        <li>
            <a ui-sref="dashboard">Dashboard</a>
        </li>
        <li>
            <a ui-sref="about">About</a>
        </li>
    </ul>
</nav>

<div class="container">

    <div ui-view></div>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Upvotes
                <button ng-click="vmMain.upvotesSortUp()" ng-show="vmMain.upvoteSortStatus=='upvotes'"><span><i
                        class="fa fa-arrow-up" aria-hidden="true"></i></span></button>
                <button ng-click="vmMain.upvotesSortDown()" ng-hide="vmMain.upvoteSortStatus=='upvotes'"><span><i
                        class="fa fa-arrow-down" aria-hidden="true"></i></span></button>
            </th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="post in vmMain.posts | orderBy: vmMain.upvoteSortStatus">
            <td>
                <a href="{{post.link}}" ng-show="post.link">
                    {{post.title}}
                </a>
                <span ng-hide="post.link">{{post.title}}</span>
            </td>
            <td>
                {{post.upvotes}}
            </td>
            <td>
                <button href="javascript:void(0)"
                        class="btn btn-default"
                        ng-click="vmMain.thumbsupActive(post)"
                        ng-show="post.upvotedUsers.indexOf(vmMain.currentUser) < 0 ">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <span class="votesNumber">{{post.upvotes}}</span>
                </button>
                <button href="javascript:void(0)"
                        class="btn btn-default"
                        ng-click="vmMain.thumbsupDeactive(post)"
                        ng-show="post.upvotedUsers.indexOf(vmMain.currentUser) >= 0">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <span class="votesNumber">{{post.upvotes}}</span>
                </button>
                <button href="javascript:void(0)" class="btn btn-default" ng-click="vmMain.incrementUpvotes(post)">
                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </table>


    <form ng-submit="vmMain.addPost()">
        <input type="text" placeholder="Title" ng-model="vmMain.titleToAdd">
        <br>
        <input type="text" placeholder="Link" ng-model="vmMain.linkToAdd">
        <br>
        <button type="submit">Post</button>
    </form>

</div>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="app.js"></script>
<script src="views/home/home.js"></script>
<script src="views/dashboard/dashboard.js"></script>
<script src="views/about/about.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
